[2017-10-04 12:58] ashkan18 opened #1 "Support Query Variables"
So we can do things like

[code]

[2017-10-04 13:07] ashkan18 opened #2 "Add schema validation"
We know the graphql endpoint and we should be able to validate the query using the cached schema.

[2017-10-04 14:16] dblock opened #3 "Remove global configuration"
Feels like `Graphlient::Client.configure` is the wrong way to go if I have a client that wants to talk to multiple GraphQL endpoints. Maybe create an instance of `Graphlient::Client.new(url, options = {})` instead.

[2017-10-04 15:18] ashkan18 commented on #3
oh that would be better, totally agreed.

[2017-10-04 16:37] dblock opened #6 "Add Danger"
Including danger-changelog.

[2017-10-04 16:44] dblock opened #7 "Make HTTP request stack swappable"
Bring your own HTTP, inspired by https://github.com/codegram/hyperclient#api-client.

Or maybe replace HTTP for Faraday?

[2017-10-04 17:36] #3 closed

[2017-10-04 18:04] dblock opened #9 "Make JSON parser swappable"
Want to be able to use multi_json or OJ.

[2017-10-04 18:41] alloy opened #10 "Add field aliasing support"
http://graphql.org/learn/queries/#aliases

[2017-10-04 18:45] alloy commented on #2
It would be great if you could validate queries in tests too, without having to make actual queries.

[2017-10-04 19:54] alloy commented on #10
A ✨ Ruby option:

[code]

But may be _too_ magical 😊

[2017-10-05 17:39] alloy opened #12 "How about focussing on just the DSL aspect?"
GitHub’s [GraphQL client](https://github.com/github/graphql-client) does a lot of things well already (e.g. query/schema validation). It seems like `graphlient` was born out of a want for a Ruby DSL, so how about just focussing on that, but otherwise leverage the excellent work already being done by many maintainers?

Looking at the source of their client, the first thing it does is [parse the que

[2017-10-05 17:51] dblock commented on #12
Note that I opened https://github.com/github/graphql-client/issues/126 ;)

[2017-10-05 17:59] dblock commented on #12
There're a few visible problems from the GraphQL Github client, including unclear error handling and pretty sizable reinvention of the wheel when it comes to schema parsing. So maybe that part should come from https://github.com/rmosolgo/graphql-ruby and not from a strongly opinionated gem like graphql-client. I'm also generally not happy with using `HTTP`, see https://github.com/ashkan18/graphlie

[2017-10-05 18:03] alloy commented on #12
I actually don’t see the `grapnel-client` as opinionated, it looks very boring to me… which is a good thing to build on top of!

E.g. they don’t do their own parsing, they literally do what I showed in my irb session; that is, they use https://github.com/rmosolgo/graphql-ruby for all GraphQL schema stuff. Unless you were referring to something else?

I’m sure that the HTTP client aspect is somethi

[2017-10-05 18:25] dblock commented on #12
Yeah I spent a whole 5 minutes there, you're right @alloy :)

[2017-10-05 20:06] ashkan18 commented on #12
Looking deeper at this, it seems to me, it may make more sense to update `GraphQL.parse` method to also accept block. That would be a change in `graphql` and not the `graphql-client` what do you guys think?

[2017-10-05 20:21] alloy commented on #12
Why do you think so? I don’t think you need to use the parse function at all, your DSL should just generate an AST like `parse`would generate, then you can just plug that into `graphql-client` and everything should just work.

[2017-10-05 21:21] dblock commented on #12
`parse` could be a stopgap quick implementation tho

[2017-10-05 21:32] ashkan18 commented on #12
Looking at `graphql` and how they parse the string, it may make sense as our first step use their `parser` https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/language/parser.rb which is created using [racc](https://github.com/tenderlove/racc). I can imagine later we can generate our own parser, but for now our problem will limit to read the block and try to create string version of i

[2017-10-09 14:25] ashkan18 commented on #7
going to switch our HTTP layer with `graphql-client` so we can also benefit from their schema validation and handle #2

[2017-10-14 06:35] ashkan18 opened #15 "cache schema"
Currently for each call we download schema to be able to validate the query against it. We should cache this and avoid extra calls.

[2017-10-14 06:36] ashkan18 opened #16 "Switch to Faraday"
follow up on comments https://github.com/ashkan18/graphlient/pull/14

[2017-10-15 16:50] dblock commented on #15
That's also why the ruby graphql client forces you to assign the parsed schema and queries to a static member of a module.

[2017-10-18 14:18] #16 closed

[2017-10-18 18:33] dblock commented on #1
I think this is the next important thing. Basically what is the equivalent of

[code]

[2017-10-18 18:38] dblock opened #18 "Allow raising exceptions instead of returning GraphQL errors in a response"
Today we can do this:

[code]

Enable raising an error from the standard `data.errors` output, so:

[code]

Personally I'd want that to be the default because I prefer exceptions for all errors since it doesn't require the caller to worry about checking whether the query succeeded every time, but that's the opposite of what graphql-client does.

[2017-10-18 18:40] dblock commented on #12
https://github.com/ashkan18/graphlient/pull/14 uses graphql-client, closing

[2017-10-18 18:40] #12 closed

[2017-10-18 18:41] dblock commented on #7
You can now do this by subclassing Graphlient::Client and overriding `http`, so really there's only one more step to allow passing `http` in options to swap the default implementation.

[2017-10-19 04:15] #6 closed

[2017-10-19 14:10] dblock opened #22 "Allow pre-parsing queries"
On the tail of https://github.com/ashkan18/graphlient/pull/20#pullrequestreview-70421918 we can now do parameterized queries, need a way to parse them separately from posting them.

[2017-10-19 14:12] dblock opened #23 "Simplify parameter definition for parameterized queries"
See https://github.com/ashkan18/graphlient/pull/20#discussion_r145599402

[code]

instead of

[code]

This means on our end we need to detect query variables and add $ to them when generating query.

[2017-10-19 18:00] dblock opened #24 "Dynamic queries are deprecated"
Allow parsing of queries into static versions, deprecate dynamic queries in sync with https://github.com/github/graphql-client/blob/1f87b183de2ccc375f8dc74395d5a410f12f0122/lib/graphql/client.rb#L45.

[2017-10-20 00:36] dblock commented on #15
#25 lets you do exactly the same thing as graphql-client, example in https://github.com/ashkan18/graphlient/pull/25/commits/3fc69a3f0a0bced359fef9c8453015caabc9dffa

@ashkan18 Did you have something else in mind? Like a way to provide a cache store and persist the schema no-matter where and how it's used?

[2017-10-20 00:37] dblock commented on #2
Now that we pipe queries into graphql-client, this is happening and can be closed, right?

[2017-10-20 04:56] #1 closed

[2017-10-20 05:00] #22 closed

[2017-10-20 05:33] alloy commented on #2
True dat 👍

[2017-10-20 14:11] #2 closed

[2017-10-26 14:27] #18 closed

[2017-10-26 17:13] dblock opened #30 "Consider removing Faraday as a dependency and default to Net::HTTP"
Followup from #7 and #29. Currently we require Faraday and default to `Graphlient::Adapters::HTTP::FaradayAdapter`. We could default to  `Graphlient::Adapters::HTTP::HTTPAdapter` and remove Faraday as a required dependency, but we lose the nice RSpec integration by default in which you can use a Faraday middleware

[code]

[2017-10-26 18:55] #7 closed

[2017-10-27 01:02] ashkan18 commented on #15
Thanks @dblock I think solution in #25 is good enough for now, this way even if someone wants to do their own caching with cache store it's possible to do so. Going to close this.

[2017-10-27 01:02] #15 closed

[2017-10-27 03:45] dblock opened #31 "Only errors with field names are caught"
See https://github.com/github/graphql-client/pull/132, looks like we may need to check `data.errors`.

[2017-10-27 14:20] yuki24 commented on #9
Both Ruby and Rails allow for swapping the default JSON parser:

[code]

Oj even has its own mechanism to inject itself to Rails:

[code]

So I'm not sure if it makes sense for this gem to depend on third-party libraries.

[2017-10-27 15:08] #31 closed

[2017-10-31 21:37] #23 closed

[2017-11-09 08:34] axos88 opened #34 "Bad encoding of the variables"
Based on http://graphql.org/learn/serving-over-http/#post-request, the variables should be sent over as a JSON object, since it is a JSON document after all.

Currently graphlient encodes the json, and sends it over as a string:

[code]

Due to this we had to introduce unnecessary complexity in the server to parse that string into a JSON hash, if it's given as a string, and leave it as is when it'

[2017-11-09 12:34] dblock commented on #34
I think you're right, per (spec)[http://graphql.org/learn/serving-over-http/#post-request] a `GET` should pass query parameters, but a `POST` should send `application/json`. This should be fairly easy to fix, feel free to beat me at a PR :)

[2017-11-09 14:25] axos88 commented on #34
I'm leaving for vacation tomorrow, so I guess you will win this time :)

[2017-11-09 17:19] dblock commented on #34
Wait, sorry, looks like we already fixed this.

Look at https://github.com/ashkan18/graphlient/blob/master/lib/graphlient/adapters/http/faraday_adapter.rb#L11?

[2017-11-09 17:27] dblock commented on #34
Note that graphql-client does this [here](https://github.com/github/graphql-client/blob/master/lib/graphql/client/http.rb#L68), also wrong?

[2017-11-09 17:29] dblock commented on #34
So `query IntrospectionQuery {}` is not valid JSON. So I actually think we're all doing the right thing, aren't we?

[2017-11-09 20:27] dblock commented on #34
Released as 0.2.0.

[2017-11-09 20:27] #34 closed

[2018-02-22 01:30] bhoggard opened #37 "Use of &. prevents usage on ruby < 2.3"
The &. operator is used in a couple of places, and can't be used before ruby 2.3.

[2018-02-22 05:05] dblock commented on #37
Fixed in https://github.com/ashkan18/graphlient/pull/39

[2018-02-22 05:05] #37 closed

[2018-02-22 05:06] dblock opened #41 "Release v. Next"

[2018-02-22 05:06] dblock commented on #41
@ashkan18 Want to give @yuki24 repo and rubygems permissions to make a release?

[2018-02-22 05:07] dblock commented on #41
We have https://github.com/ashkan18/graphlient/blob/master/RELEASING.md

[2018-02-22 14:33] ashkan18 commented on #41
sure, already added him as collaborator and now adding rubygems permission 🙌

[2018-02-22 14:38] ashkan18 commented on #41
done

[2018-02-22 15:31] yuki24 commented on #41
[v0.3.0 is now available on Rubygems.](https://rubygems.org/gems/graphlient/versions/0.3.0)

[2018-02-22 15:31] #41 closed

[2018-02-28 00:41] grosser opened #42 "loading graphclient in irb breaks irb"
[code]
just stops ... weird ...

[2018-05-09 20:44] mxdavis opened #44 "client.schema is a Graphlient::Schema"
Hi,

Not sure if this is the right place for this. This is my second time using graphlient, and the first I did not have this problem.

Right now my `expect(client.schema).to be_a GraphQL::Schema` doesn't pass, but expect(client.schema).to be_a Graphlient::Schema does.

This is my client:

[code]

Thanks very much.

[2018-05-10 15:18] dblock commented on #44
This changed in 3.0.1, https://github.com/ashkan18/graphlient/commit/eff5e927ba1c4e0d720f6d7925519da72a73bf8f. Where/how is this an issue for you?

[2018-05-10 15:20] dblock commented on #44
Oh I think this is documented wrong, care to update the README? The `Graphlient::Schema` class delegates everything to a `GraphQL::Schema` I believe so they effectively act the same, but one does't inherit from the other.

[2018-05-10 15:21] dblock commented on #44
cc: @povilasjurcys

[2018-05-17 16:15] mxdavis commented on #44
Ok cool, the other testing was working so I'll go with that. Thanks so much for your speedy responses

[2018-05-17 18:31] dblock commented on #44
See #45 that fixes the related test. Not sure how this slipped in.

[2018-05-17 20:58] dblock commented on #44
Closing via #45

[2018-08-14 16:06] dblock opened #47 "Querying against github API produces unexpected errors"
[code]

However it works fine with graphql-client.

[code]

[2018-08-14 16:32] dblock commented on #47
You can create a token here: https://github.com/settings/tokens

https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line

[2018-08-14 22:15] dblock commented on #47
Not a bug it seems here, see https://github.com/ashkan18/graphlient/pull/48.

[2018-08-14 22:15] #47 closed

[2018-08-15 12:15] dblock commented on #47
This turned out to be a pretty wild bug, https://github.com/rmosolgo/graphql-ruby/issues/1775.

[2018-08-16 20:12] krishnarohitreddy opened #49 "why store graphql schema.json on client side?"
Why have server's schema.json stored on client?

[2018-08-17 14:53] dblock commented on #49
While this is entirely optional, there's no need to re-retrieve the schema every time, so it improves startup performance. A lot of schemas are megabytes.

[2018-08-17 14:53] #49 closed

[2018-10-10 12:17] chmorik opened #51 "NoMethodError in FaradayServerError"
Hi,
We've encounter a situation where we get
 undefined method `[]' for nil:NilClass in
graphlient-0.3.3/lib/graphlient/errors/faraday_server_error.rb:7
This is very frustrating because we don't know what is the error behind it
We think that changing to
@response = inner_exception.response.try(:[],:body)
@status_code = inner_exception.response.try(:[],:status)

will fix it

[2018-10-10 16:30] dblock commented on #51
Try writing a spec that reproduces the problem?

[2018-10-11 07:36] chmorik commented on #51
e = Faraday::ClientError.new(nil)
raise Graphlient::Errors::FaradayServerError, e

[2018-10-11 11:57] dblock commented on #51
In which scenario does this actually happen? What's the stack?

The code should be fixed either way. Appreciate a pull request.

[2018-10-11 12:22] chmorik commented on #51
The thing is I don't know. If it'll be fixed I can tell you.
Stack trace for example:

[code]

I can't open one right now. but
[code]
should fix it

[2018-10-11 13:16] ashkan18 commented on #51
Looks like we run into a case where `inner_exception`, possibly a `Faraday` one, doesn't have `body` or `status`, I can look into it in a bit but would be interesting to find out how that happens as @dblock mentions. If that's a valid case, we should possibly replace `body` and `status` to a more generic error instead of just setting them to `nil`

[2018-10-11 15:27] dblock commented on #51
If someone wants to just PR a defensive implementation for `Faraday::ClientError` taking a `nil` I'd be happy to review it.

[2018-10-14 23:45] yuki24 commented on #51
It's probably the case that the request timed out and the client threw an error without a response object since there's nothing you can assign to the exception when the request didn't go through.

[2018-11-08 00:05] RealSilo opened #53 "adding extensions to ExecutionError"
Hey,

I think it would be great to have `extensions` with `code` (see here: http://graphql-ruby.org/errors/execution_errors.html) to the `Graphlient::Errors::ExecutionError` class.

So it could be used in tests as:

    rescue Graphlient::Errors::ExecutionError => e
      expect(e.message).to eq('My error message')
      expect(e.extensions.code).to eq('UNAUTHORIZED')
    end

[2018-11-08 16:56] dblock commented on #53
Sounds like a good idea! PRs welcome.

[2018-11-08 19:45] yuki24 commented on #53
The `code` used in the GraphQL Ruby documentation is just an example of what the **server** could return to you. Also, the `ExecutionError` holds [a reference to the response object](https://github.com/ashkan18/graphlient/blob/cd2307387809590aaaf7774b481b69767256cd80/lib/graphlient/errors/execution_error.rb#L4) so you could actually get the `extensions` out of it:

[code]

If you are requesting to

[2018-11-09 20:58] RealSilo commented on #53
@yuki24 I know it's only recommended [https://facebook.github.io/graphql/draft/#example-fce18]() at the moment but as I see everybody is using it (from startups to big companies).

Thanks for example how to parse the keys. I think it's a bit awkward. It seems to be way easier to use `e.extensions.code`.

@dblock Let me know if you still want me to open a PR based on @yuki24 's comments.

[2018-11-09 21:01] dblock commented on #53
@RealSilo PRs always welcome!

[2018-11-09 22:36] RealSilo opened #54 "Custom type name lookup not working"
I have a query working with `graphql` but not with `graphlient` because of the naming  of the type.

I tried to investigate the issue but it went down pretty deep (graphql-client gem) and couldn't figure out why it works with a simple` graphql` query and why not with `graphlient`.

Do you have any ideas where this goes wrong?

The error is the following (It tries to lookup `Vehicle`, but it should

[2018-11-09 22:37] RealSilo commented on #53
Sounds good. I will try to open a PR this weekend.

[2018-11-09 23:38] yuki24 commented on #54
Have you tried replacing the `vehicle_alerts` field in the `let(:vehicle_query)` with `vehicleAlerts`?

[2018-11-10 00:06] RealSilo commented on #54
Yeah, that's it. Thx!

[2018-11-10 00:06] #54 closed

[2018-12-05 09:57] egonm12 opened #55 "How to pass context in query?"
How can I pass the current_user context in a query? In the `execute` method I see: `query_params[:context] = @options if @options`.

I got this shared_context:

[code]

[2018-12-05 10:11] yuki24 commented on #55
There doesn't seem to be a way to override `context` for each query, but I think it's just [adding a new argument to the `execute` method](https://github.com/ashkan18/graphlient/blob/cd2307387809590aaaf7774b481b69767256cd80/lib/graphlient/client.rb#L20) and deep-merge with the `@options`. PRs are welcome!

[2018-12-05 12:12] egonm12 commented on #55
@yuki24 So I thought I had a solution but when executing a query it comes through the `execute` method in my GraphQL controller, which sets my `current_user` again. Only solution I think that works is directly calling my App schema instead of using this gem. Any ideas?

[2018-12-05 12:56] egonm12 commented on #55
[code]

And assume I called: `client.query(query, variables, context)`
Than `query_params` will give back:
[code]
So at this point everything works but when calling `client.query(query, query_params)` it will come across the `execute` method in my controller. In that controller it says: `context: { current_user: current_user }` and because of that it will become `nil`

[2018-12-05 13:08] egonm12 commented on #55
Ok I found an other solution, instead of doing it like above I can do this in my spec:

[code]

This will create the current_user context for me.

[2018-12-05 14:09] dblock commented on #55
Is there something we still want in Graphlient for this?

[2018-12-05 14:13] yuki24 commented on #55
@dblock we may want to add the ability to override `context` on `query`:

[code]

[2018-12-05 14:32] egonm12 commented on #55
@dblock will look into it. My first try in https://github.com/ashkan18/graphlient/issues/55#issuecomment-444475706 didn't work properly as you can see.

[2019-01-09 02:02] ashkan18 commented on #55
thanks for describing the issue @egonm12 , I wonder what is the use case for updating context per query. When you create the client you can set JWT header with passing hash of headers:
[code]
in your case are you trying to update JWT for one specific query or you want to have the token as a parameter merged into query variables?

[2019-04-23 17:25] dfritsch86 opened #58 "Dynamically change headers"
I need to dynamically change request headers, e.g. to switch bearer tokens when i reached the limit. How can i accomplish this?

[2019-04-24 13:34] dblock commented on #58
I believe right now this would require you to create a new instance of a client. We should call it a bug. I'd like to be able to do:

[code]

Maybe you can write a spec for this behavior and we can try and fix this?

[2019-04-24 13:35] dblock commented on #55
Looks like #58 is related.

[2019-04-24 13:53] ashkan18 commented on #58
yes, this makes sense, a failing spec would be 👌

[2019-04-28 11:07] dfritsch86 commented on #51
On that note, is there a way to pass options to Faraday, e.g. to increase the standard request time out duration? I find myself having to query an API that requires more than the default 30s to generate a response, so raising that would be nice.

[2019-04-29 01:11] dblock commented on #51
I believe this will work (haven't tested)

[code]

[2019-05-01 21:42] mikeyhew commented on #10
I was going to suggest a method called `alias`, but apparently that's a keyword in Ruby.

[2019-05-14 21:08] glappen opened #60 "Don't know how to pass custom input types"
Hello, I am using your excellent gem in my rails app to call a graphql API in one of myother rails apps.  It has been working great so far.  Now I'm trying to make a query that takes an input object as a parameter (it's for doing a search).  The UserSearch query is defined like this:

[code]
UserFilters is defined as an input type (subclass of GraphQL::Schema::InputObject in the server-side code).

[2019-05-14 21:14] yuki24 commented on #60
Could you post the raw GraphQL query you are trying to run? It looks like a GraphQL error from GraphQL's type system, but an error from the library.

[2019-05-14 21:26] glappen commented on #60
@yuki24 Thank you for your quick feedback. I was able to track it down to me passing arguments I had not defined yet, and also not passing the UserFilter arguments as camelcase (they were still snakecase from ruby).  Closing the issue.

[2019-05-14 21:26] #60 closed

[2019-06-04 14:14] leoGalani opened #61 "Mutation"
Hi!

I'm trying to set a mutation as a 'string' but I'm getting `NameError: wrong constant name createSomething`

Here is an example of my code:

[code]
But the same `mutation` works using graphql playground.
[code]

I'm trying to avoid the use of Blocks as I want to maintain a standard on my code.

[2019-06-04 15:48] yuki24 commented on #61
I'm not sure what you refer to by "as a string", but parsed results can [only be set to constants](https://github.com/github/graphql-client#defining-queries), which in Ruby must start with a capitalized letter. Have you tried renaming `mutation` to `Mutation`?

[2019-06-04 21:48] ashkan18 commented on #61
this looks ok to me, the only thing I can think of is `'` around `GRAPHQL`, can you try removing that? or switch to something like
[code]

[2019-06-04 22:05] yuki24 commented on #61
I should've been more clear on what I was really referring to by `mutation`, but I was referring to the local variable `mutation` in Ruby, not the one in the actual GraphQL query:

[code]

The single quotes around `GRAPHQL` is valid Ruby syntax:

[code]

[2019-06-05 08:20] leoGalani commented on #61
Hello!
Thanks for the support.
I'm actually using a lambda function to define my constant. The problem is the name of the mutation itself...
I changed it from `createSomething` to `CreateSomething` (with capital letter) on my mutation request and it works @ graphql playground.

Now I'm getting the following error `expected definition to be a GraphQL::Client::OperationDefinition but was GraphQL::La

[2019-06-05 08:42] leoGalani commented on #61
One thing that I noticed is that when I change the mutation name to use a capital letter, it creates a  `Module` class.
My other queries on the project (to list everything, to find a specific id) are all defined as `GraphQL::Client::OperationDefinition` class.

Not sure its suppose to be like that.

[2019-06-05 12:33] ashkan18 commented on #61
interesting! so `parse` in `Graphlient` underneath uses [`graphql-client` ](https://github.com/github/graphql-client#defining-queries) to parse the query, if you pass in a block, it will first try to create query string from it and otherwise it will just pass it to the underneath `parse` method. Looking at [their examples](https://github.com/github/graphql-client#defining-queries) i don't  see the

[2019-06-05 12:42] leoGalani commented on #61
My team uses mutation names to track down possible issues @ datadog... if the operation doesn't have a name, it's a bit harder to debug* :)

Thanks again for the support!

[2019-06-12 13:48] #61 closed

[2019-06-12 13:52] ashkan18 commented on #61
@leoGalani , Sorry haven't had a chance to look at this yet, did you figure out how to fix it? I was hoping to create a failing spec and go from there.

[2019-06-13 07:52] leoGalani commented on #61
I didn't have time to stop and look at how the parsing goes.
Once I finish my mid tasks, I will fork your repo and try some stuff out and then come with a PR :)

For now, I don't mind not having an operation name 😅

[2019-08-14 13:00] leoGalani opened #64 "disable schema dump"
Hi, is there a way to avoid automatic schema dump/introspection query?

Graphql for ruby (v1.9.7 ++) have the ability to disable those for production and I couldn't find a way of disabling the automatic fetch locally.

This is the message I'm getting and trying to `client.schema` or any operation (which in the end hits https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/schema/loader.

[2019-08-14 21:41] yuki24 commented on #64
Disabling them in production makes sense to me, but I do not think there is an easy way to do so at this point.

@ashkan18 Perhaps something we could accept with a PR?

[2019-08-14 21:49] yuki24 commented on #64
Just quickly skimming [the commit logs in `graphql-client`](https://github.com/github/graphql-client/commits/master), but it doesn't seem to have support for it yet.

`graphlient` depends on `graphql-client` which depends on `graphql-ruby`, so it needs to be implemented in `graphql-client` first.

[2019-08-14 22:32] ashkan18 commented on #64
thanks @leoGalani for opening the issue, yes i think at the moment the easiest approach would be either mocking the schema, or (maybe better?) use a local dump of your target schema locally and pass it to the client:
[code]
would this help you out?

[2019-08-16 13:03] forsbergplustwo commented on #55
@ashkan18 We have a use case for needing to be able to switch context per query, maybe it helps explain.

On the Shopify GraphQL API, each user/store has it's own unique endpoint (url) and bearer token.
 The Schema is the same for all users/stores, so if we could re-assign the client context at runtime in our apps, we don't need to create a new client each time. This helps a lot with performance &

[2019-08-16 16:10] dblock commented on #55
That seems reasonable to me, want to try to PR this?

[2019-08-19 07:01] forsbergplustwo commented on #55
I wish I could, but I don't have the skills :(

[2019-11-14 16:50] dblock commented on #51
Closed via https://github.com/ashkan18/graphlient/pull/68.

[2019-11-14 16:50] #51 closed

[2019-11-27 19:12] brentgreeff opened #69 "How to stub with webmock"
This is more my ignorance than an issue.

I am currently using graphql-client but graphlient's block syntax and info on testing make me want to switch over, but I am still not sure how to test my code.

I have a deployed GraphQL server. I can run a query in Postman and get a JSON response.
I copied that response into a string.
I want to consume that endpoint in my rspec test but I want to use the

[2019-11-27 20:29] brentgreeff commented on #69
I bit the bullet & installed graphlient, and it seems my first stub is insufficient.

[code]
it does seem that my new non-static code:

[code]
- Does in-fact produce an IntrospectionQuery.

The headers contain:

[code]
I am using http basic, but the request made by faraday doesnt have the auth in the url.

If I add:

[code]
Where do I get this DummySchema or am I being a dummy?

[2019-11-27 20:34] yuki24 commented on #69
It's probably the case that the client is trying to load the GraphQL schema over network, rather than from the file system. Try setting [the `schema_path`](https://github.com/ashkan18/graphlient#schema-storing-and-loading-on-disk) on client creation:

[code]

[2019-11-27 20:43] brentgreeff commented on #69
I tried to dump the schema:

[code]

[2019-11-27 20:48] yuki24 commented on #69
The `url` needs to be a real URL otherwise the client can't download a schema. Or did you replace it with an example URL to post it here?

[2019-11-27 20:59] brentgreeff commented on #69
Yea I replaced it with an example, but I had http instead of httpS. - This now works a dream. Thanks very much for the help.

I am still a bit confused about schemas.

I guess the old `graphql-client` code is loading the schema at class load time, - and will refresh the schema on a server restart / deploy etc.

Now I had written the schema to disk, it will need to be manually refreshed. I might ne

[2019-11-27 21:04] brentgreeff commented on #69
Good place to start I guess - https://graphql.org/learn/introspection/

[2019-11-27 21:06] brentgreeff commented on #69
This endpoint is going to be under very light load, - my gut feel is that I would prefer to somehow just bypass/ ignore this introspection query in my rspec, and have the introspection just run every time on production (ie not be cached).

[2019-11-27 21:42] yuki24 commented on #69
The schema is the key concept of GraphQL that makes developers productive by adding editor suggestions, early type checks, etc. If you are not using GraphQL schema, introspection query, etc in development you are actually dropping the whole point of GraphQL.

On the other hand, in production, loading a schema is **not** strictly necessary (assuming you test it **with the schema** in development an

[2019-11-28 07:25] brentgreeff commented on #69
I see. thanks for the info. - I guess I need to read the graphlient code to see if I can get the schema to load at class load (statically), but somehow stub this request in tests (so its ignored). -Although introspection is great for /graphiql its not useful as-far-as I can see on production.

At this point though I am not sure under what circumstance we will need to refresh a stale schema on disk

[2019-11-29 14:48] dblock commented on #69
In this project we have both, but for a client app I think we need a better example.

Generally, I think you want to refresh the schema every time it changes. Which you obviously don't control, but hopefully the server doesn't change the schema nilly willy. I recommend doing the same thing in production and development, either have a task that refreshes the schema locally and commits it, then load

[2019-12-18 12:24] brentgreeff commented on #69
@dblock - sorry just noticed this now.

Yes, I will take a look.

[2019-12-19 21:56] BenDrozdoff opened #70 "Faraday Timeouts no longer coming through as instance of Graphlient::Errors::FaradayServerError"
Starting in Faraday 0.17.1, the TimeoutError is no longer an instance of Faraday::ClientError, which is caught [here](https://github.com/ashkan18/graphlient/blob/4935dfc74e60aa83b9fd04fc547506f4e9d51a65/lib/graphlient/adapters/http/faraday_adapter.rb#L20) as a Graphlient::Errors::FaradayServerError

See [this line](https://github.com/lostisland/faraday/commit/6e746fceefe0d1f75535b40a62d846a6a95bf8

[2019-12-19 22:07] BenDrozdoff commented on #70
Possibly also relevant, we internally altered the constructor a bit due to the structure of Faraday::TimeoutError
[code]

[2019-12-22 21:15] ashkan18 commented on #70
Thanks @BenDrozdoff for reporting this 💜. Feel free to open a PR with your change or I'll try to get to this during holidays.

[2019-12-23 20:34] BenDrozdoff commented on #70
NP, looks like the error I was seeing was pretty similar to #68 just with a different Faraday Error class.

[2019-12-24 16:11] dblock commented on #70
https://github.com/lostisland/faraday/issues/1090

[2019-12-24 16:11] dblock commented on #70
https://github.com/slack-ruby/slack-ruby-client/pull/309

[2019-12-27 16:23] iMacTia commented on #70
Hi guys, sorry if this caused some pain, that was an involuntary change.
I'm fixing this so that the change in hierarchy will be reverted.

Looking at your code, it doesn't seem like you'll need to change anything, but I'd suggest you keep the changes you've done since the changes on our side will come back in Faraday 1.0.
This way you'll be one step closer to upgrading when the time comes 😄

[2020-01-11 19:32] brentgreeff commented on #69
@dblock - Sorry I have not come back earlier, but I no longer have the work laptop I did the work on. I am a bit vague on the details now. I will try come back to this when I touch graphQL again.

[2020-03-25 13:55] nielsjansendk opened #73 "Latest version incompatible with faraday 1.0.0"
Using graphlient 3.7 with Faraday 1.0.0 results in the following error:

`RuntimeError (Adapter should be set using the `adapter` method, not `use`)`

It is likely this problem: https://stackoverflow.com/questions/58162859/upgrading-faraday-gem-runtimeerror-adapter-should-be-set-using-the-adapter-m that happens with faraday versions higher than  0.15.4

As far as I can tell from the source code of

[2020-03-25 14:06] dblock commented on #73
Thanks for bringing this up. Try fixing it?

[2020-03-25 14:55] nielsjansendk commented on #73
@dblock It doesn't seem like Faraday can be upgraded in development. I tried to clone and force faraday to be version 1.0.0, but the gem danger-changelog is not compatible. And that gem has not been updated since faraday 1.0.0. I'm not confident enough to try to figure out a solution to that one, if it was just a question of changing the word "use" with the word "adapter" I can do that, but this s

[2020-03-31 22:30] ashkan18 commented on #73
thanks @nielsjansendk i can try look at this. Thanks for reporting 💜

[2020-04-09 08:34] theendcomplete commented on #73
I've tried to just change word "use" with the word "adapter" and it works

[2020-05-03 06:56] ATMartin opened #76 "ClientError between 0.3.3 & 0.3.7"
When updating from `graphlient` v0.3.3 to v0.3.7, I'm seeing an odd error:

[code]

Here's a rough cut of the code resulting in this error:
[code]

Nothing's changed in our API & I can duplicate this error by changing nothing but the gem version.

I poked around a bit in IRB and found that I get back a generic `Class` from `@client.schema` in 0.3.7, whereas I see a much richer `Graphlient::Schema`

[2020-05-03 15:44] ATMartin commented on #76
Fresh eyes this morning have led me down the "camelCase" path. In 0.3.7, my schema resolves to looking for an `imageRaw` field - which our API rejects as a non-existent field. This doesn't happen in 0.3.3.

It looks like this may be caused by things down in `graphql` itself, in which case we're pinning `graphlient` versions until I can convince the API team to do some work! Is there any way to dis

[2020-05-03 17:22] dblock commented on #76
AFAIK no, if you find a way to do this in the graphql-ruby client we should be able to expose it.

[2020-05-06 17:53] ashkan18 commented on #76
Graphql Ruby is camelCaseing by default to match GraphQL recommended naming approach, in our case, when you get response back it should already be snake_cased for you to access it in the response. So I would change `image_raw` in your query to `imageRaw` but when reading it from response you would still use `image_raw`.

[2020-05-06 19:00] ATMartin commented on #76
@ashkan18 I appreciate the suggestion! I believe the issue is that the API we're hitting does not camelCase their fields, so `imageRaw` is rejected by the server as an invalid field.

I'd love to submit a PR for this! I've got finding a fix in `graphql-ruby` (or `graphql-client`) on my TODO list.

[2020-05-07 15:26] dblock opened #77 "Cache Faraday::Connection and use Faraday::Adapter::NetHttpPersistent"
See https://github.com/slack-ruby/slack-ruby-client/pull/322.

[2020-05-21 20:49] micahbf commented on #73
I see the fix for this was merged to master, any chance a version could be released with this fix?

[2020-05-21 20:53] ashkan18 commented on #73
sure, good reminder! I can release a new version in a bit.

[2020-05-21 20:54] micahbf commented on #73
Awesome, thank you!

[2020-05-21 21:40] ashkan18 commented on #73
Just released the new version `0.4.0`

[2020-05-21 21:40] #73 closed

[2021-02-02 16:35] mbajur commented on #10
does @alloy solution still applies? My client throws

[code]

[2021-02-02 23:14] yuki24 commented on #10
@mbajur I don't believe this has ever been implemented. PRs are welcomed.

[2021-02-15 23:05] rathboma opened #82 "How to query without a schema?"
Hey!

Thanks for making a gem.

I don't have a schema for my endpoint, but I do have a query + params. Is there a way to query without a schema (file or http)?

Thanks!

[2021-02-16 14:05] dblock commented on #82
Not sure, but this might be helpful: https://github.com/rmosolgo/graphql-ruby/pull/2327 and https://github.com/github/graphql-client/issues/211 (another client)

[2021-02-16 14:52] yuki24 commented on #82
Yes, @dblock is right about this. Theoretically you may not need a schema in production, but this needs to be implemented in the underlaying gem first.

[2021-05-07 17:17] dbackeus opened #84 "Are union types supported using block syntax?"
Hi,

Just wondering if [union types](https://graphql.org/learn/schema/#union-types) are supported via the block syntax somehow. Ie. support for the `... on SomeType` syntax.

[2021-06-22 21:25] ashkan18 commented on #84
Hi @dbackeus ,

Sorry for late response, it's not supported at the moment but feel free to open a PR if you have a solution in mind.

[2021-10-14 21:45] karmingc opened #85 "Possibility of dynamically adding fields to a query?"
let's say we want to make two query strings, but both call the same graphql query with a slightly different fields.
1. calls
[code]
2. calls
[code]

Is there a way to build a "base" string query and that both 1 and 2 can reuse? Is using string literals or rewriting the whole query from scratch the only viable ways? E.g
2.
[code]

[2021-10-15 01:44] yuki24 commented on #85
I think what you are looking for is [Fragments](https://github.com/github/graphql-client#defining-queries). I'm not sure if this is already baked into graphlient but @dblock or @ashkan18 may be able to give you answers.

[2022-03-24 20:41] papile commented on #30
Note: Having the dependency of `faraday_middleware` locks Faraday to  1 or lower as Faraday 2 is not compatible with it. So if someone updates their stack or uses Faraday 2, and Graphlient, RubyGems dependency resolution will bring in graphlient 0.0.5 which was the last one without Faraday.

[2022-03-25 13:49] dblock commented on #30
@papile Give upgrading Faraday in this gem a try? Looks fairly non-trivial.

[2022-03-25 14:32] papile commented on #30
I could make the Faraday adapter 1/2 compatible by dropping faraday_middleware. Another thing though might be to drop the Faraday dependency from the gemspec so it is not pulled in as a hard dependency as this original request mentions. Then developers would have to explicitly enable the Faraday adapter (or it could be selected if Faraday is defined). The default can be Net::HTTP, and the gem can

[2022-03-26 00:02] dblock commented on #30
@papile We'll take anything that has all the specs passing :)

[2022-06-17 06:00] bf4 commented on #24
I made an open issue re this too fwiw https://github.com/github/graphql-client/issues/293

[2022-07-28 00:44] PhucNguyen1501 opened #92 "Graphlient::Errors::TimeoutError does not inherit from Graphlient::Errors::ServerError"
**Describe the bug**
Graphlient::Errors::TimeoutError does not inherit from Graphlient::Errors::ServerError currently, hence `inner_exception`, `status_code` and `response` can't be called.

**To Reproduce**
N/A

**Expected behavior**
As per description, Graphlient::Errors::TimeoutError should inherit from Graphlient::Errors::ServerError.

**Screenshots**
![image](https://user-images.githubusercon

[2022-07-28 12:16] dblock commented on #92
This is by design I believe. A timeout is a client-side timeout, and you never got a response from the server. I'll close, but feel free to convince me I'm wrong and we can reopen.

[2022-07-28 13:53] PhucNguyen1501 commented on #92
Hi Daniel @dblock ,
If this is by design, can we please update the description? It is confusing to have the doc says otherwise.

[2022-07-29 17:06] dblock commented on #92
For sure @PhucNguyen1501! Care to PR?

[2022-09-15 08:04] rellampec opened #93 "Enable the use of FragmentDefinition constants within blocks"
**Is your feature request related to a problem? Please describe.**

While `fragments` are backed when you use `heredoc` syntax and `parse` by storing in a constant, using the constant in a `block` will fail with a `"}" (RCURLY)` `GraphQL::ParseError`.

For example, for the following fragment:

[code]

Using it like this will work:

[code]

However, when using blocks, we clearly cannot use `...Huma

[2022-09-17 14:06] dblock commented on #93
Good idea, try to implement it?

[2022-09-18 01:50] rellampec commented on #93
@dblock you're right. Needs to call `Graphlient::Query#method_missing` and using the _constant_ `HumanFragment` as is will delegate to the `GraphQL::Client`.

Well, although the below deviates from the `sym` convention that you took for parameters, this worked fine:

[code]

And in `Graphlient::Query`, adding this line in the private `append_method`:

[code]

Perhaps you got a better idea? (it sup

[2022-09-18 23:33] rellampec commented on #93
I have actually applied a patch using the above approach.

To support namespaces on fragments

[code]

an additional convention is necessary. Double underscore `__` for double colons `::`, by adding this as first line of the `append_method` private method of `Graphlient::Query`:

[code]

The above allows for this **usage**:

[code]

Which will become the below string in `Graphlient::Client#parse`

[2022-09-19 14:43] dblock commented on #93
Make a PR and we can talk it over there?

[2022-09-24 23:52] rellampec commented on #93
@dblock  hmmm, I haven't tried but I was thinking if it wouldn't be cleaner to just

[code]

I will give it a try and see if that works

[2022-09-25 10:34] rellampec commented on #93
https://github.com/ashkan18/graphlient/pull/94

[2022-10-11 16:53] ashkan18 commented on #93
@rellampec should we close this?

[2022-10-11 19:09] #93 closed

[2022-10-12 13:58] Nghi93 opened #100 "cannot stub request anymore"
**Describe the bug**
Since 0.7.0 it is not possible to stub_request in ones specs anymore:
<NoMethodError: undefined method `values_at' for #<String:0x00007f9defb82e20>

**To Reproduce**
Steps to reproduce the behavior:
[code]
We get <NoMethodError: undefined method `values_at' for #<String:0x00007f9defb82e20>

I could track it down to graphql-client-0.18.0/lib/graphql/client.rb:358:
[code]

On a

[2022-11-04 20:02] ashkan18 commented on #100
Hi, thanks for reporting this! are you still dealing with this issue?

[2022-11-18 09:50] Nghi93 commented on #100
Hi @ashkan18,

yes, it's still an issue.

[2022-11-18 14:51] ashkan18 commented on #100
Sorry to hear that, i haven't had a chance to look into it! but feel free to look into it and open a PR if you had a chance.